h1
{align-self: baseline;
    color: crimson;
    font-size: 40px;
    transition: 0ms;
    text-decoration: underline;
    text-shadow: darkred;
    font-style:Times new roman;
}
h2{
    font-size: 25px;
}
.follow a
{
    padding: 10px;
    color: blue;
    font-weight: bold;
}
@media screen and (max-width:600px)
{
    .follow a
    {
        padding: 5px;
    }
}