<section class="about container">
    <br>
    <br>
    <h1 class="text-center mb-5">About Us</h1>
    <h2>Welcome to WEB@cademy</h2>
    <p>
        WEB@cademy is India's leading Workforce Development Platform that helps learners in building careers with leading corporates through training & other career building services.
    </p>
    <p>
        WEB@cademy is an Integrated Workforce Development Organization started by IIM alumni & professors in October 2009, Web academy impacts the entire Career Development life cycle of the unemployed youth of the country. We help the unemployed youth to understand their strengths, build tomorrow’s skills needed by recruiters and secure employment with them, thereby building sustainable careers for our beneficiaries.
    </p>
    <p>
        WEB@cademy has a diversified business model with revenue coming from Learning Solutions, Career Solutions and Talent Solutions. Headquartered in Mumbai, EduBridge has offices across India and a strong team of over 500 employees.
    </p>
    <br>
    <br>

    

</section>