<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="">WEB@cademy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course" >Course</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="joinnow">Joinnow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


 

<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>About Us</h4>
        <ul>
          <li><a href="#">Our Company</a></li>
          <li><a href="#">Our Impact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>course</h4>
        <ul>
          <li><a href="#">Angular</a></li>
          <li><a href="#">Typescript</a></li>
          <li><a href="#">Nodejs</a></li>
          <li><a href="#">Reactjs</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Services</h4>
        <ul>
          <li><a href="#">EOn-Online Training</a></li>
          <li><a href="#">Placement services</a></li>
          <li><a href="#">ECA-Blended Training</a></li>
          <li><a href="#">GuruSchool</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>More</h4>
        <ul>
          <li><a href="#">Learn and Earn</a></li>
          <li><a href="#">Refer and Earn</a></li>
          <li><a href="#">Hire From Us</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Terms and Condition</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>
